/* Basic Style */
.body-wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header-info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header-info__img {
  width: 100%;
}

.header-info .header-info__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header-info {
    text-align: center;
  }
}

.section-main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.label-task,
.input-task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.section-add-task__row-wrapper {
  display: flex;
}

#section-incomplete-task__list,
#section-complete-task__list {
  margin: 0;
  padding: 0px;
}

.row-task,
.section-incomplete-task__header,
.section-complete-task__header {
  list-style: none;
}

.input-task,
.checkbox-task {
  outline: none;
}

.button-add-task,
.button-edit-task,
.button-delete-task {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button-add-task:hover,
.button-edit-task:hover {
  color: #3a3a3a;
}

/* Heading */
.section-incomplete-task__header,
.section-complete-task__header,
.section-add-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-task:focus {
  color: #333;
}

/* New Task */
.section-add-task__label {
  display: block;
  margin: 0 0 20px;
}

#section-add-task__input {
  width: 318px;
}

/* Task list */
.row-task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-task {
  vertical-align: middle;
}

.row-task > .checkbox-task {
  margin: 0 10px;
}

.row-task > .label-task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.row-task > .input-task {
  width: 226px;
}

.button-delete-task .img-delete-task {
  background: none;
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-delete-task .img-delete-task:hover {
  transform: rotateZ(0);
}

/* Completed */
#section-complete-task__list .label-task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.row-task .input-task {
  display: none;
}

.row-task.edit-mode .input-task {
  display: inline-block;
  width: 224px;
}

.row-task.edit-mode .label-task {
  display: none;
}
